<p>
  <!-- <a routerLink="./" [queryParams]="{order: order()=='asc'? 'desc' : 'asc'}"> <!-- stay on same page you are
    Sort {{order()=='asc' ? 'Descending' : 'Ascending'}}
  </a> --> -->

  <a routerLink="./" [queryParams]="{order: order()=='asc'? 'desc' : 'asc'}"> <!-- stay on same page you are -->
    Sort {{order()=='asc' ? 'Descending' : 'Ascending'}}
  </a>
</p>

{{userId()}}
<ul>
  @for (task of userTasks(); track task.id) {
  <li>
    <app-task [task]="task" />
  </li>
  } @empty {
  <p>There are no tasks yet. Start adding some!</p>
  }
</ul>