ul > li > button > span{
    /* margin: 1% 2% 1% 2%; */
    /* width: 10px; */
    /* height: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

ul > li > button > span > p{
    /* margin: 1% 2% 1% 2%; */
    align-items: center;
    justify-content: center;
    width: 100%;
}

ul > li > button{
    width: 100%;
    background-color: rgb(243, 196, 249);
    border-radius: 100px;
    align-items: start;
}

ul > li > button:hover {
    background-color: rgb(200, 143, 231);
    cursor: pointer;
}

ul > li > button.active {
    background-color: rgb(157, 90, 183);
}

ul > li > button > span > img{
    width: 35px;
    height: 35px;
    border-radius: 100px ;
    object-fit: cover;
}
